<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/Index.css">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">

    <title>Ava Flowers | Carrinho</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <div class="header-buscar">
                <input type="text">
                <img src="/images/icons/lupa.png" alt="">
            </div>
            <a href="/produtos/carrinho">
                <div class="header-carrinho">
                    <img src="/images/Carrinho.png" alt="">
                </div>
            </a>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as Flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>


    <div class="carrinho">
        <div class="titulo">
            <h1>Seus</h1>
            <h1>Produtos</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <% produtosCarrinho.forEach( function (produto) { %>
                    <div class="produto">
                        <img class="produto-img" src="<%= produto.img %>" alt="">
                        <div class="descricao">
                            
                            <div class="preco-add-excluir">
                                <div class="preco-add-excluir-wrapper">
                                    <div class="nome">
                                        <h3><%= produto.nome %></h3>
                                    </div>
                                    <div class="preco-add">
                                        <div class="preco">
                                            <%= produto.valor %>
                                        </div>
                                        <div class="add">
                                            <button id="buttonRemove1" class="botao"><</button>
                                                <span  id="number1"><%= produto.qtde %></span>
                                            <button id="buttonAdd1" type="button" class="botao">></button>
                                        </div>
                                    </div>
                                </div>
                            
                                <a href="">
                                    <div class="excluir">
                                        <img src="/images/icons/trash.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <br> 
        <hr>
        <br>
        <div class="preco-info">
            
            <h1>Total: </h1>
            <span class="brown">$<%= valorTotal %> +</span>
           
            <br>
            <span class="brown"> ̶$̶5̶0̶,̶0̶0̶ (frete grátis)</span>
            <br>
            <span class="brown">------------------------</span>
            <br>
            <span class="orange">$<%= valorTotal %></span>
            <br>
            <br>
            <a class="botao-finalizar" href="/clientes/cadastro">FINALIZAR COMPRA</a>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>  

    <div id="modal2" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" style="color: red; font-weight: bold;">ATENÇÃO</h5>
                </div>
                <div class="modal-body">
                <p>Selecione uma quantidade válida do produto!</p>
                </div>
                <div class="modal-footer">
                <button onclick="fecharBotao()" type="button" class="btn btn-success">Continuar comprando</button>
                </div>
            </div>
            </div>
    </div>

    <div id="modal1" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" style="color: red; font-weight: bold;">ATENÇÃO</h5>
            </div>
            <div class="modal-body">
            <p>Infelizmente não temos essa quantidade de produto disponível. :(</p>
            </div>
            <div class="modal-footer">
            <button onclick="fecharBotao()" type="button" class="btn btn-success">Continuar comprando</button>
            </div>
        </div>
        </div>
</div>

    <script>
        const number1 = document.querySelector("#number1");
        const number2 = document.querySelector("#number2");
        const number3 = document.querySelector("#number3");
        var count1 = 1;
        var count2 = 1;
        var count3 = 1;
        document.querySelector("#buttonAdd1").addEventListener('click', (evento) => {
            count1++;
            number1.innerText = count1; 
            if(count1 > 10/* quantidade no escote*/){
                let modal = document.getElementById('modal1');
                modal.style.display = "block";
                count1 = 1;
                number1.innerText = count1; 
            }
        });
        document.querySelector("#buttonAdd2").addEventListener('click', (evento) => {
            count2++;
            number2.innerText = count2; 
            if(count2 > 10/* quantidade no escote*/){
                let modal = document.getElementById('modal1');
                modal.style.display = "block";
                count2 = 1;
                number2.innerText = count2; 
            }
        });
        document.querySelector("#buttonAdd3").addEventListener('click', (evento) => {
            count3++;
            number3.innerText = count3; 
            if(count3 > 10/* quantidade no escote*/){
                let modal = document.getElementById('modal1');
                modal.style.display = "block";
                count3 = 1;
                number3.innerText = count3; 
            }
        });
        
    
        //REMOVER
        document.querySelector("#buttonRemove1").addEventListener('click', (evento) => {
            count1--;
            number1.innerText = count1; 
            if(count1 <= 0/* quantidade no escote*/){
                let modal = document.getElementById('modal2');
                modal.style.display = "block";
                count1 = 1;
                number1.innerText = count1; 
            }
        })
        document.querySelector("#buttonRemove2").addEventListener('click', (evento) => {
            count2--;
            number2.innerText = count2; 
            if(count2 <= 0/* quantidade no escote*/){
                let modal = document.getElementById('modal2');
                modal.style.display = "block";
                count2 = 1;
                number2.innerText = count2; 
            }
        })
        document.querySelector("#buttonRemove3").addEventListener('click', (evento) => {
            count3--;
            number3.innerText = count3; 
            if(count3 <= 0/* quantidade no escote*/){
                let modal = document.getElementById('modal2');
                modal.style.display = "block";
                count3 = 1;
                number3.innerText = count3; 
            }
        })
        function fecharBotao(){
            let modal1 = document.getElementById('modal1');
            let modal2 = document.getElementById('modal2');
            modal1.style.display = "none";
            modal2.style.display = "none";
        }
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
