<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Global.css">
    <link rel="stylesheet" href="/stylesheets/produto.css">
    <title>Ava Flowers</title>
    <link rel="icon" type="imagem/png" href="/images/icons/logo.ico" />
   
</head>
<body>
    <header>
        <div class="header-wrapper-top">
            <a href="/">
                <div class="logoHeader">
                    <img src="/images/LogoHeader.png" alt="">
                </div>
            </a>
            <a href="/produtos/carrinho">
                <div class="header-carrinho">
                    <img src="/images/Carrinho.png" alt="">
                </div>
            </a>
        </div>
        
        <div class="header-wrapper-bot">
            <a href="/categorias/todasFlores">Todas as flores</a>
            <a href="/categorias/buques">Buquês</a>
            <a href="/categorias/ocasioes">Ocasiões especiais</a>
            </ul>
        </div>
    </header>

    <section class="container-produto">
        <% produtos.forEach(function (produto)  {%>
            <img class="imagem" src="<%= produto.img %> ">
            <div class="info">
               
                <h1 class="nome"> <%=produto.nome%> </h1>
             
                <span class="preco">R$<%=produto.valor%></span>
                
                <p class="informacoes">
                    Aproximadamente 20 girassóis em tamanhos variados. Um presente cheio de vida        </p>
                <a class="btn"href="/produtos/carrinho?id=<%= produto.id %>"> 
                    <button class="comprar">Comprar</button> </a> 

        </div>
       
    </section>
    
    <article class="container-cuidados">

        <h1 class="titulo">Como cuidar</h1>
       
        <div class="topico">
            <h2 class="title">1.Cuidados Iniciais</h2>
            <p class="texto"> Para seu buque durar mais, o primeiro cuidado que deve ter é retirar toda a embalagem, fitas e outros 
                enfeites para facilitar a respiração das plantas. Antes de colocar na jarra, certifique-se que o 
                recipiente esteja bem limpo assim como a água que será utilizada.</p>


            <h2 class="title">2.Para durar mais</h2>
            <p class="texto"> É importante que seja feito um corte 2 cm acima da base do buquê em diagonal, 
                utilizando uma tesoura de poda ou estilete afiado, para não provocar o esmagamento dos canais de absorção
                da haste floral.
                Estes cortes devem ser feitos embaixo de água corrente para evitar a entrada de ar nas hastes.</p>

        
            <h2 class="title">3.Para recordar</h2>
            <p class="texto"> Caso queira guardar uma recordação do buque recebido, recomendamos o a prensa de papel para a 
                secagem das flores. Utilize jornais velhos ou uma lista telefônica sem utilidade para fazer as prensas.<br> Acomode as pétalas sobre as páginas, 
                sem que fiquem dobradas em nem sobreponha uma à outra, feche a pagina e passe para a seguinte. 
                Coloque um peso em cima e deixe por 2 a 4 semanas. Quando retirar, guarde em uma caixa de papelão 
                com folhas de papel toalha ou manteiga. Tenha cuidado no manuseio, pois as mesmas estarão quebradiças.</a></p>

        </div>


    </article>
    <div class="container-btn">
        
        
        <a class="btn" href=href="/produtos/carrinho?id=<%= produto.id %>"> 
            <button class="comprar">Adquira seu Buquê</button> </a>   


    </div>
    <% }); %>   


  

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h3>Outros meios de contato</h3>
                    <div class="social">
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/whatsapp.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/email.png" alt=""></a>
                        </div>
                        <div class="icon-wrapper">
                            <a href=""><img src="/images/icons/instagram.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/usm/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>